.DS_Store
oopsla2023/.DS_Store
*.bbl
*.blg
*.log
*.out
*.vo
*.vos
*.vok
*.aux
*.glob
popl2025/main.pdf
*.gz
popl2025/lstpatch.sty
*.synctex(busy)
CAV2025/main.pdf
Makefile
Makefile.conf
src/ocaml_old_version_for_lofir/_build
src/ocaml_old_version_for_lofir/bin
src/ocaml_old_version_for_lofir/lib
src/ocaml_old_version_for_lofir/test
src/ocaml_old_version_for_lofir/dune-project
src/ocaml_old_version_for_lofir/ocaml.opam
src/ocaml_old_version_for_lofir/extraction
src/ocaml/_build
src/ocaml/bin
src/ocaml/lib
src/ocaml/test
src/ocaml/dune-project
src/ocaml/ocaml.opam
src/ocaml/extraction